/*Este fichero contiene modificaciones generales para todas las vistas*/

.icon{
    margin-left: 300%;
}

.principio{
    padding-top: 5%;
    margin-top: 3%;
}


#sidebar{
    padding-top: 15%;
}

.card{
    margin-top: 2%;
    margin-bottom: 2%;
}

.logoEquipo{
    width: 12%;
    height: 40%;
}

.equipo{
    width: 50%;
    min-width: 300px;
}

.equipos{
    margin-top: 2%;
    padding-top: 5%;
}

.principio-jugador{
    margin-top: 5%;
    padding-top: 8%;
}

.boton-equipo{
    width: 100%;
}

.footer{
    margin-top: 5%;
    position:absolute;
}
