/*Este fichero contiene modificaciones generales para todas las vistas*/

.icon{
    margin-left: 300%;
}

.icono-header{
    background-image: url(../img/csgo_icon.png);
}

.principio{
    padding-top: 5%;
    margin-top: 3%;
}


#sidebar{
    padding-top: 15%;
}

.card{
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-partidos{
    opacity: 0.85;
}

.logoEquipo{
    width: 12%;
    height: 40%;
}

.equipo{
    width: 50%;
    min-width: 300px;
}

.equipos{
    margin-top: 0%;
    padding-top: 0%;
}

.principio-jugador{
    margin-top: 5%;
    padding-top: 8%;
}

.boton-equipo{
    width: 100%;
}

.boton-busqueda{

    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 25px;
    width: 200px;
    border: none;
    background-image: url(assets/img/search-icon.png);
    background-color: #343A40;
    background-size: 100%;
}

.footer{
    margin-top: 5%;
    position:absolute;
}
